.form-input {
  width: 100%;
  padding: 8px;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
}

.infos {
  margin-top: 20px;
}

.show-info {
  padding: 2px;
}

.notAuth {
  color: red;
  text-align: center;
}
